/* HTML Body basics  */

html, body {
    height: 100%;
}

/* Borders shits */

.line-bottom {
    border-bottom: 1px solid #E8E8E8;
}

/* Style for texts */

.text-header-black {
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
    margin-bottom: 0;
}

.text-header-blue {
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #587896;
    margin-bottom: 0;
}

.title-blue {
    font-size: 2rem;
    align-items: center;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #587896;
}

.title-black {
    font-size: 2rem;
    align-items: center;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.inputs-zones::placeholder {
    font-size: 1rem;
    font-family: PT Sans, sans-serif!important;
    font-style: italic;
    font-weight: bold;
    color: #8b8b8b;
    text-indent: 1.5em;
}

.text-content {
    font-size: 1.2rem;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.text-checkbox-grey {
    font-size: 1rem;
    align-items: center;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #8b8b8b;
}

.text-checkbox-black {
    font-size: 1rem;
    align-items: center;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

/* Style for Buttons */

.text-button {
    font-size: 0.8rem;
    text-align: center;
    align-items: center;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
}

.button-blue-big {
    text-align: center;
    border-radius: 150px;
    border-width: 0;
    background: #587896;
    height: 40px;
    width: 140px;
    padding-bottom: 0;
    padding-top: 0;
}

.button-blue-big:hover {
    background-color: #303030;;
}

.button-blue-little {
    text-align: center;
    border-radius: 150px;
    border-width: 0;
    background: #587896;
    width: 91px;
    height: 30px;
}

.button-black {
    text-align: center;
    border-radius: 150px;
    border-width: 0;
    background: black;
    height: 40px;
    width: 133px;
    padding-bottom: 0;
    padding-top: 0;
}

.button-black:hover {
    background-color: #303030;
}

.button-grey {
    text-align: center;
    border-radius: 150px;
    border-width: 0;
    background: #9b9b9b;
    height: 30px;
    width: 96px;
}

.button-white {
    text-align: center;
    border-radius: 150px;
    border: 3px solid #D4D4D4;
    background: white;
    height: 40px;
    width: 174px;
    padding-bottom: 0;
    padding-top: 0;

    font-size: 0.8rem;
    align-items: center;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.button-white:hover {
    border: 3px solid black;
}

.modifyIcon {
    text-align: center;
    align-items: center;
    height: 28px;
    width: 28px;
    background-color: white;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
}

/* Style for inputs */

.inputs-zones {
    background-color: #e8e8e8!important;
    border: 1px solid #D4D4D4!important;
    height: 40px!important;
    box-sizing: border-box;
    border-radius: 6px;
    text-indent: 1.5rem;

    font-size: 1rem!important;
    font-family: PT Sans, sans-serif!important;
    font-weight: bold!important;
    color: #303030!important;
}


/* Borders shits */

.line-bottom {
    border-bottom: 1px solid #E8E8E8;
}

/* outline input */

input[type=text]:focus, input[type=password]:focus {
    box-shadow: 0 0 0 2px #303030;
}


