.input-title {
    width: 100%;
}

.input-content-big {
    width: 100%;
    height: 100%!important;
}

.input-content-big::placeholder {
    vertical-align: top!important;
}



.row-content-title {
    height: 15%;
}

.row-content-big {
    height: 85%;
}

.inputs-zones-color{
    width: 965px;
    height: 2176px;
    left: 434px;
    top: 138px;


    background: #FFFFFF;
    /* Grey/level 1 */
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    display: inline-block;
}

input[type=radio] {
    padding: 0.5em;
    -webkit-appearance: none;
    outline-offset: 0.1em;
    width: 1rem;
    height: 1rem;
    border: 1px solid #aaa !important;
    border-radius: 2px;
    background: #e8e8e8;
    box-sizing: border-box;

}

input[type=radio]:checked {
    display: inline-block;
    background-color: #000;
    width: 1rem;
    height: 1rem;
    border-radius: 2px;

}

.form-check-input:checked + .form-check-label {
    font-weight: bold;
    color: black;
}

.from-check-input:checked ~ .form-check-label::before {
    color: #fff !important;
    border: 1px solid black !important;
    background-color: black !important;
    border-radius: 2px !important;
}

.text-checkbox-black{
    width: 46px;
    height: 16px;
    left: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    display: inline-block;
    align-items: center;

    /* Grey/level 4 */

    /*color: #303030;*/
    color: #000000;

    /* identical to box height */
}
.text-checkbox-grey {
    width: 70px;
    height: 16px;
    left: 22px;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    display: inline-block;
    align-items: center;

    /* Grey/level 3 */

    color: #8B8B8B;

}

.text-couleur{
    width: 6.375rem;
    height: 1.1875rem;
    left: 30.3125rem;
    top: 90.8125rem;

    font-style: normal;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.18rem;
    display: flex;
    align-items: center;

    color: #000000;



}
.form-check-label {
    width: 4.375rem;
    height: 1rem;
    left: 1.375rem;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;
    /* identical to box height */

    display: inline-block;
    align-items: center;
    /* Grey/level 3 */

    color: #8B8B8B;
}
.text-position{
    height:1.1875rem;
    left: 52rem;
    top:90.5rem;
    font-style: normal;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.18rem;
    display: flex;
    align-items: center;
    color: #000000;


}

