.text {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #8B8B8B;
    font-size: 0.8rem;
    align-items: center;
}

.title-blue {
    font-size: 2rem;
    align-items: center;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #587896;
    text-align: center ;
    margin-top: 2em;
    margin-bottom: 1em;
}

.line {
    border: 1px solid #E8E8E8;
    margin-top: -50px;
    margin-bottom: 50px ;
}

.min {
    margin-left: 10px;
}

/* checkbox  */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    left: 0;
    opacity: 0.01;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1em;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    margin-left: 1em;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #aaa !important;
    background: #e8e8e8;
    border-radius: .2em;
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 black!important;
    -webkit-transition: all .275s;
    transition: all .275s ;
}

.custom-control-input:checked + .custom-control-label {
    font-weight: bold;
    color: black;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff !important;
    border-color: black !important;
    background-color: black !important;
    border-radius: 2px !important;
}

.btn-outline-danger {
    color: black !important;
}


