.title-blue{
    text-align: center ;
    margin-top: 2em;
    margin-bottom: 1em;

}

.add {
    margin-bottom: 8em;
    font-family: PT Sans sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #8B8B8B;
}



